@CHARSET "ISO-8859-1";

ol,ul{
	list-style:none;
	margin:0;
	padding:0;
	}
	
	a{
	text-decoration:none;
	}
.wrap{
	width:225px;
	margin:0 auto;
}
.logo{
	 padding:12px 0px 0px -10px;
	text-align:left;
	background-color: #bf9543
}
.menu li{
	display:block;	
}
.menu li a{
	font-family:'Gafata', sans-serif;
	color:#FFF;
	font-size:16px;
	padding:12px 0px;
	display: block;
	text-align:center;
	border-bottom:2px ridge #EC300C;
}
.menu li:nth-child(5) a{
	border:none;
	border-bottom-left-radius:25px;
    -moz-border-bottom-left-radius:25px;
	-webkit-border-bottom-left-radius:25px;
	-o-border-bottom-left-radius:25px;
}
.menu li a:hover{
	background:#A51A0A;
}
.header_bottom_left{
	float:left;
	width:100%;
	border-bottom-left-radius:25px;
    -moz-border-bottom-left-radius:25px;
	-webkit-border-bottom-left-radius:25px;
	-o-border-bottom-left-radius:25px;
	border-top-left-radius:25px;
	-moz-border-top-left-radius:25px;
	-webkit-border-top-left-radius:25px;
	-o-border-top-left-radius:25px;
	background: #dc4323;
	background: -moz-linear-gradient(top,  #dc4323 0%, #cc270e 14%, #c41f09 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#dc4323), color-stop(14%,#cc270e), color-stop(100%,#c41f09));
	background: -webkit-linear-gradient(top,  #dc4323 0%,#cc270e 14%,#c41f09 100%);
	background: -o-linear-gradient(top,  #dc4323 0%,#cc270e 14%,#c41f09 100%);
	background: -ms-linear-gradient(top,  #dc4323 0%,#cc270e 14%,#c41f09 100%);
	background: linear-gradient(to bottom,  #dc4323 0%,#cc270e 14%,#c41f09 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dc4323', endColorstr='#c41f09',GradientType=0 );
}
.header_bottom_right_images{
	float:left;
	width:70%;
}
