<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="
http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
http://www.springframework.org/schema/context
http://www.springframework.org/schema/context/spring-context-3.0.xsd
http://www.springframework.org/schema/tx
http://www.springframework.org/schema/tx/spring-tx-3.0.xsd">
	
	<context:component-scan base-package="com.bloodbook" />
	
	<!-- Spring MVC Mail Configuration Start here-->
	<bean id="mailSender" class="org.springframework.mail.javamail.JavaMailSenderImpl">
		<property name="host" value="smtp.gmail.com" />
		<property name="port" value="587" />
		<property name="username" value="onlinebloodbook@gmail.com" />
		<property name="password" value="9948580328" />
		<property name="javaMailProperties">
			<props>
			    <prop key="mail.debug">true</prop> 
				<prop key="mail.transport.protocol">smtp</prop>
				<prop key="mail.smtp.auth">true</prop>
				<prop key="mail.smtp.starttls.enable">true</prop>
				<prop key="mail.mime.charset">UTF-8</prop>
			</props>
		</property>
	</bean>
	
	
	<!-- Database Configuration Start here-->
	<context:property-placeholder location="classpath:database.properties"/>
	
	<!-- <tx:annotation-driven transaction-manager="hibernateTransactionManager"/> -->
	<!-- Run SQL queries in transactions -->
    <tx:annotation-driven transaction-manager="transactionManager"/>
    <bean id="transactionManager"
        class="org.springframework.orm.hibernate3.HibernateTransactionManager">
        <property name="sessionFactory" ref="sessionFactory" />
    </bean>
	
	<context:annotation-config />
	<bean class="org.springframework.jdbc.datasource.DriverManagerDataSource" id="dataSource">
	 	<property name="driverClassName" value="${database.driver}"></property>
	 	<property name="url" value="${database.url}"></property>
	 	<property name="username" value="${database.user}"></property>
	 	<property name="password" value="${database.password}"></property>
	</bean>
	
	<bean id="jspViewResolver"
		class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="viewClass"
			value="org.springframework.web.servlet.view.JstlView" />
		<property name="prefix" value="/jsp/" />
		<property name="suffix" value=".jsp" />
	</bean>
	
	<bean class="org.springframework.orm.hibernate3.annotation.AnnotationSessionFactoryBean" id="sessionFactory">
		 <property name="dataSource" ref="dataSource"></property>
		 <property name="annotatedClasses">
	  		<list>
	   			<value>com.bloodbook.model.Register</value>
	   			<value>com.bloodbook.model.Request</value>
	   			<value>com.bloodbook.model.Feedback</value>
	   			<value>com.bloodbook.model.Help</value>
	 		 </list>
	 	</property>
	 	
	 	<property name="hibernateProperties">
			 <props>
	  			<prop key="hibernate.dialect">org.hibernate.dialect.MySQLDialect</prop>
				  <prop key="hibernate.show_sql">${hibernate.show_sql}</prop>
				  <prop key="hibernate.hbm2ddl.auto">${hibernate.hbm2ddl.auto}</prop>    
	        </props>
	      </property>
	</bean>
	
	 <bean class="org.springframework.orm.hibernate3.HibernateTransactionManager" id="hibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory"></property>
	 </bean>
	<!-- Database Configuration End Here-->
	
    <bean id="registerBean" class="com.bloodbook.bean.RegisterBean"/> 
     <bean id="requestBean" class="com.bloodbook.bean.RequestBean"/> 
     <bean id="feedbackBean" class="com.bloodbook.bean.FeedbackBean"/> 
      <bean id="helpBean" class="com.bloodbook.bean.HelpBean"/> 
     <!-- <bean id="login" class="com.bloodbook.model.Login"></bean> -->
     
</beans>